<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Speech Recognition Demo</h2>
  <ion-list>
    <ion-item>
      <ion-buttons text-center>
        <button ion-button icon-start (click)="speak()">
          <ion-icon name="mic"></ion-icon>
          Speak
        </button>
      </ion-buttons>
    </ion-item>
    <ion-item>
      <ion-label>Color</ion-label>
      <ion-input [(ngModel)]="color"></ion-input>
      <ion-icon item-end name="color-palette" [ngStyle]="{'color':color}"></ion-icon>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header>Matches</ion-list-header>
    <ion-item *ngFor="let match of matches">
      <p ion-text>{{match}}</p>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header>Supported Languages</ion-list-header>
    <ion-item *ngFor="let lang of langs">
      <p ion-text>{{lang}}</p>
    </ion-item>
  </ion-list>
</ion-content>
